/* page */

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  max-height: 100%;
}

._container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/* header */
.header {
  padding: 30px;
}
.header_solid {
  background-color: silver;
}
.header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Oswald", sans-serif;
}

/* menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.link {
  padding: 10px;
  text-decoration: none;
  transition: color ease 0.6s;
}
.link_white {
  color: #fff;
}
.link:hover {
  color: #fff;
  background-color: black;
}

/* logo */

.logo {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.header__logo {
  font-size: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__logo {
  font-size: 120px;
}

/* support */

.support {
  text-decoration: none;
}
.support_white {
  color: #fff;
}
.support_black {
  color: #000;
}
.header__support {
}

/* main */

.main {
  flex: 1;
}
.intro__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* content */

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* card */
.card {
  width: calc(50% - 10px);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.content__card {
  margin-bottom: 20px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 0;
  font-family: "Oswald", sans-serif;
  padding: 20px 0px calc(50% - 10px);
}

.card__link {
  color: #fff;
  text-decoration: none;
}
.card__title {
  position: relative;
  padding-left: 20px;
  font-size: 50px;
  z-index: 1;
}
.card__text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  font-size: 26px;
  max-width: 500px;
  z-index: 1;
  transition: opacity 0.4s ease;
}

.card:hover .card__text {
  opacity: 1;
}
.card__layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 0;
  opacity: 0.45;
  transition: opacity ease 0.5s, left 0.5s ease, top 0.5s ease;
}
.card:hover .card__layer {
  top: 10px;
  left: 10px;
  opacity: 0.8;
}

/* title */
.title {
  font-family: "Playfair Display", serif;
  color: #000;
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  text-align: left;
  width: 100%;
  max-width: 1100px;
}

/* text */

.text {
  font-family: "Oswald", sans-serif;
}
.intro__text {
  text-align: center;
  max-width: 700px;
  color: white;
  font-size: 30px;
}
/* footer */

.footer {
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.footer__title {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
}
.footer__icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icons a:not(:last-child) {
  margin-right: 20px;
}
.footer__icons img {
  max-width: 40px;
}

/* video */

.video__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
}

.video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  overflow: hidden;
  transform: translate(-50%, -50%);
}

/* media */

@media (max-width: 1100px) {
  .header__logo {
    top: 80px;
    font-size: 47px;
  }
  .card__title {
    font-size: 26px;
  }
  .title {
    font-size: 40px;
    text-align: center;
  }
  .stories__title {
    margin-top: 50px;
  }
  .card__text {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .title {
    font-size: 26px;
  }
  .stories__title {
    margin-top: 50px;
  }
  .card {
    width: 100%;
  }
  .card__title {
    font-size: 36px;
  }
  .card__text {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .stories__header {
    background-color: transparent;
  }
  .header__menu {
    margin: 0 auto;
    font-size: 16px;
  }
  .header__logo {
    top: 85px;
  }
  .header__support {
    display: none;
  }
  .stories__title {
    margin-top: 70px;
  }
  .card__title {
    position: absolute;
    font-size: 26px;
    top: 0px;
    left: 0;
  }
  .footer__container {
    height: 60px;
  }
  .footer__title {
    display: none;
  }
}
@media (max-width: 400px) {
  .header {
    padding-top: 10px;
  }
  .menu {
    width: 100%;
  }
  .header__menu {
    font-size: 14px;
  }
  .header__logo {
    top: 70px;
    font-size: 30px;
  }
  .title {
    font-size: 16px;
  }
  .stories__title {
    margin-top: 30px;
  }
  .card__title {
    position: absolute;
    font-size: 16px;
    top: 0px;
    left: 0;
  }
}
/* @media (max-width: 1100px) {
  .header__logo {
    top: 45%;
  }
} */
