/* page */

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/* header */
.header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-family: "Oswald", sans-serif;
  background-color: silver;
}

/* menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: pink;
}

.header__menu {
}

.menu__link {
  text-decoration: none;
  padding: 10px;
  transition: color ease 0.6s;
}

.menu__link:hover {
  color: #fff;
  background-color: black;
}

/* logo */

.logo {
  font-weight: 700;
  font-size: 57px;
  text-decoration: none;
  color: #000;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* support */

.support {
  text-decoration: none;
  color: #000;
}
.header__support {
}

/* main */

.main {
  flex: 1;
}

/* content */

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* card */
.card {
  width: calc(50% - 10px);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.content__card {
  margin-bottom: 20px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 0;
  font-family: "Oswald", sans-serif;
  padding: 20px 0px calc(50% - 10px);
}

.card__link {
  color: #fff;
  text-decoration: none;
}
.card__title {
  position: relative;
  padding-left: 20px;
  font-size: 50px;
  z-index: 1;
}
.card__text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  font-size: 26px;
  max-width: 500px;
  z-index: 1;
  transition: opacity 0.4s ease;
}

.card:hover .card__text {
  opacity: 1;
}
.card__layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 0;
  opacity: 0.45;
  transition: opacity ease 0.5s;
}
.card:hover .card__layer {
  opacity: 0.8;
}

/* title */
.title {
  font-family: "Playfair Display", serif;
  color: #000;
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  text-align: left;
  width: 100%;
  max-width: 1100px;
}

/* footer */

.footer {
}

@media (max-width: 1100px) {
  .header__logo {
    top: 90%;
    font-size: 47px;
  }
}
@media (max-width: 600px) {
  .header__menu {
    margin: 0 auto;
  }
  .header__logo {
  }
  .header__support {
    display: none;
  }
}
/* @media (max-width: 1100px) {
  .header__logo {
    top: 45%;
  }
} */
