.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.link {
  padding: 10px;
  text-decoration: none;
  transition: color ease 0.6s;
}

.link:hover {
  color: #fff;
  background-color: black;
}

.header {
}

@media (max-width: 600px) {
  .menu {
    margin: 0 auto;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .menu {
    width: 100%;
  }
  .header {
    font-size: 14px;
  }
}
