.card {
  width: calc(50% - 10px);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.content {
  margin-bottom: 20px;
}

.inner {
  position: relative;
  width: 100%;
  height: 0;
  font-family: "Oswald", sans-serif;
  padding: 20px 0px calc(50% - 10px);
}

.link {
  color: #fff;
  text-decoration: none;
}

.title {
  position: relative;
  padding-left: 20px;
  font-size: 50px;
  z-index: 1;
}

.text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  font-size: 26px;
  max-width: 500px;
  z-index: 1;
  transition: opacity 0.4s ease;
}

.card:hover .text {
  opacity: 1;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 0;
  opacity: 0.45;
  transition: opacity ease 0.5s, left 0.5s ease, top 0.5s ease;
}

.card:hover .layer {
  top: 10px;
  left: 10px;
  opacity: 0.8;
}
