.header {
  padding: 30px;
}
.header_solid {
  background-color: silver;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Oswald", sans-serif;
}
